@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
	background: #607D8B;
	color: #FFFFFF;
}

header {
	position:fixed;
    left: 0;
    right: 0;
    height:100px;
    background-size:100%;
    background: #455A64;
    z-index: 1;
}

h1 {
	padding-left: 10px;
	font-size: 40pt;
}

#sub-banner {
	padding-top: 100px;
}

#navigation-bar {
	position: fixed;
	left: 0;
	background: #455A64;
	height: 100%;
	padding-top: 30px;
	padding-left: 10px;
	width: 15%;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #212121;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #FFFFFF;
    font-size: 2vw;
    padding-top: 10px;
}

.anchor {
	padding-top: 100px;
	margin-top: -80px;
}

.row {
	padding-left: 20%;
	padding-right: 5%;
	padding-bottom: 10px;
}

#alt-section {
	background: #CFD8DC;
	background-size: 100%;
	color: #212121;
}

#source-text {
	font-size: 10pt;
}

#prot-image {
	width: 50%;
	float: left;
	padding-left: 2%;
	padding-bottom: 20px;
}

#white-back {
	color: black;
}

#team-col {
	text-align: center;
}

.full-img {
	width: 100%;
}

#dark-primary-color    { background: #455A64; }
#default-primary-color { background: #607D8B; }
#light-primary-color   { background: #CFD8DC; }
#text-primary-color    { color: #FFFFFF; }
#accent-color          { background: #448AFF; }
#primary-text-color    { color: #212121; }
#secondary-text-color  { color: #757575; }
#divider-color         { border-color: #BDBDBD; }